<div style="padding: 1rem" class="page-content">
  <div style="display: flex; justify-content: space-between">
    <div>
      <button mat-button color="primary" (click)="logout()">Çıkış Yap</button>
    </div>
    <div>
      <button mat-button style="color: red" (click)="deleteUser()">
        Kullanıcıyı Sil
      </button>
    </div>
  </div>
  <!--Tüm Ürünlerin Listesi -->
  <div style="justify-content: space-evenly">
    <div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <h2>Ürün Listesi</h2>
        </div>
        <div>
          <mat-form-field
            appearance="outline"
            style="width: 300px; margin-bottom: 1rem"
          >
            <mat-label>Ürünleri sırala</mat-label>
            <mat-select
              [(value)]="selectedSortOption"
              (selectionChange)="sortProducts()"
            >
              <mat-optgroup label="Fiyata göre sırala">
                <mat-option value="price-asc">Artan</mat-option>
                <mat-option value="price-desc">Azalan</mat-option>
              </mat-optgroup>
              <mat-optgroup label="Ada göre sırala">
                <mat-option value="name-asc">Alfabetik (A-Z)</mat-option>
                <mat-option value="name-desc">Ters Alfabetik (Z-A)</mat-option>
              </mat-optgroup>
              <mat-optgroup label="En çok satanlara göre sırala">
                <mat-option value="sales-asc">Az Satılan → Çok</mat-option>
                <mat-option value="sales-desc">Çok Satılan → Az</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button
            mat-button
            color="primary"
            style="color: #e65100"
            (click)="toCart()"
          >
            Sepetim
          </button>
        </div>
        <div>
          <button mat-button color="primary" (click)="navOrder()">
            Sipariş Geçmişi
          </button>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Kategori</mat-label>
            <mat-select
              [(ngModel)]="FilteredProductCategoryName"
              (selectionChange)="loadProductsByCategory()"
            >
              <mat-option [value]="''"> Hepsi </mat-option>
              <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-card class="product-container" style="width: 100%">
      <mat-card-content>
        <div class="grid">
          <div class="product-card" *ngFor="let product of products">
            <h3>{{ product.name }}</h3>

            <p
              class="stock"
              [ngClass]="{
                'low-stock': product.stockStatus === 'LOW_STOCK',
                'out-of-stock': product.stockStatus === 'OUT_OF_STOCK',
                'in-stock': product.stockStatus === 'IN_STOCK'
              }"
            >
              {{ product.stockStatus }} <br />
              <span *ngIf="product.stockStatus === 'LOW_STOCK'">
                Son {{ product.productStock }} ürün kaldı.
              </span>
            </p>
            <p>
              <strong>Satış Adeti {{product.totalSales}}</strong>
            </p>

            <p>
              <strong>₺{{ product.price }}</strong>
            </p>

            <div class="quantity-control">
              <button
                mat-mini-button
                color="primary"
                (click)="decreaseQuantity(product)"
              >
                -
              </button>
              <input
                matInput
                type="number"
                [(ngModel)]="product.quantity"
                (ngModelChange)="validateQuantity(product)"
                min="1"
                [max]="product.productStock"
              />
              <button
                mat-mini-button
                color="primary"
                (click)="increaseQuantity(product)"
              >
                +
              </button>
            </div>

            <button
              mat-raised-button
              color="accent"
              class="add-to-cart"
              (click)="addToCart(product)"
            >
              Sepete Ekle
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <!--Seçilen Ürünler Listesi-->
  </div>
</div>
