.product-container {
  max-width: 100%;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  padding: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }

  .product-card {
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-top: 0;
    }

    .stock {
      font-weight: bold;

      &.low-stock {
        color: #e65100;
      }

      &.out-of-stock {
        color: #b71c1c;
      }

      &.in-stock {
        color: #2e7d32;
      }
    }

    .quantity-control {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;

      input {
        width: 60px;
        text-align: center;
      }
    }

    .add-to-cart {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
.seller-table {
  width: 800px;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-family: Arial, sans-serif;

  th,
  td {
    padding: 12px 20px;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    vertical-align: middle;
  }

  th {
    background-color: #e0e0e0;
    font-weight: bold;
  }

  tr:hover td {
    background-color: #f1f1f1;
  }

  button {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    color: white;

    &.danger {
      background-color: #ff4d4f;

      &:hover {
        background-color: #d9363e;
      }
    }
    &.edit{
      background-color: rgb(48, 186, 250);
      &:hover{
        background-color: rgb(32, 197, 183);
      }
    }

    &.success {
      background-color: #52c41a;

      &:hover {
        background-color: #389e0d;
      }
    }
  }
}
:host {
  display: block;
  min-height: 100vh;
  background-image: url('../../../assets/Customer-And-Visitor.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

